body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('media/bc.jpg'); /* Specify your background image path */
    background-size: cover;
    background-attachment: fixed; /* This ensures the background remains fixed while scrolling */
}

.menu-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: #555;
}

.menu-icon {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-btn.active .menu-icon:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-btn.active .menu-icon:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .menu-icon:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

.nav-links {
    display: none; /* Hide navigation links by default */
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}